<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzI0hF_w0nlIKlytzo7iHBhs3HNlsRwmM</string>
	<key>GCM_SENDER_ID</key>
	<string>223544507444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atelier3</string>
	<key>PROJECT_ID</key>
	<string>voyage-c95be</string>
	<key>STORAGE_BUCKET</key>
	<string>voyage-c95be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223544507444:ios:afb7b1464eaa4992345e61</string>
</dict>
</plist>